node_modules/
*.log
package-lock.json
Backups/
Cache/
CachedData/
Cookies
Cookies-journal
storage.json
Preferences
machineid
Local Storage/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json